---
export interface Props {
  name: string;
  role: string;
  description: string;
  image: string;
  gradient: string;
}

const {name, role, description, image, gradient} = Astro.props;
---


<div class="relative mb-6">
  <img src={image} alt={name} class="w-full h-full mx-auto object-cover rounded-2xl shadow"/>
</div>

<div class="text-center">
  <h3 class="font-heading font-semibold text-xl text-header-dark mb-2">{name}</h3>
  <p class="text-primary font-semibold mb-2">{role}</p>
  <p class="text-text-gray text-sm">{description}</p>
</div>
