---
import TestimonialCard from '../../cards/TestimonialCard.astro';
import Button from "../../common/Button.astro";

const testimonials = [
  {
    quote: "Unsere Kinder gehen seit einiger Zeit in diese Kita und wir sind rundum zufrieden. Das Team ist sehr kompetent, herzlich und engagiert. Es wird viel mit den Kindern unternommen – drinnen wie draussen",
    family: "Familie Balta",
    bgColor: "bg-header-dark",
    quoteColor: "text-primary"
  },
  {
    quote: "Unser Sohn fühlt sich in der KiTa Luftibus rundum wohl – und wir auch! Das Team ist herzlich, aufmerksam und geht liebevoll auf die Kinder ein. Besonders toll finden wir die abwechslungsreichen Ausflüge und Aktivitäten. ",
    family: "Familie Çutuk",
    bgColor: "bg-secondary-teal",
    quoteColor: "text-white"
  },
  {
    quote: "Unser Sohn geht seit Januar in diese Kita. Es war unsere erste Trennung von ihm, aber von Anfang an hatten wir das Gefühl, dass er in guten Händen ist. Der Tagesablauf ist schön gestaltet, mit vielen tollen Aktivitäten.",
    family: "Familie Negro",
    bgColor: "bg-primary",
    quoteColor: "text-white"
  },
  {
    quote: "Eine ganz tolle Kita mit grossartigen und sehr gut qualifizierten Personal. Sie kümmern sich liebevoll um die Kinder, zeigen echtes Interesse an ihrer Entwicklung und schaffen eine warme, wertschätzende Atmosphäre.",
    family: "Familie Concetta",
    bgColor: "bg-header-darker",
    quoteColor: "text-primary"
  }
];
---

<section id="testimonials" class="py-20 lg:py-32">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="font-heading font-bold text-3xl lg:text-5xl text-header-dark mb-4">
        Was die Eltern sagen
      </h2>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {testimonials.map(testimonial => <TestimonialCard
          quote={testimonial.quote}
          family={testimonial.family}
          bgColor={testimonial.bgColor}
          quoteColor={testimonial.quoteColor}
      />)}
    </div>

    <div class="text-center mt-16">
      <Button href="https://maps.app.goo.gl/AUBB2rMFFN5XTU3B7" external={true}>Alle Bewertungen</Button>
    </div>
  </div>
</section>
